version: "3.9"

services:
    app:
        build:
            context: .
            args:
                - DEV=true
        ports:
            - "8000:8000"
        volumes:
            - ./app:/app
        command: >
            sh -c "python manage.py wait_for_db &&
                   python manage.py migrate &&
                   python manage.py runserver 0.0.0.0:8000"
        environment:
            - DB_HOST=db
            - DB_NAME=${DATABASE_DB}
            - DB_USER=${DATABASE_USER}
            - DB_PASSWORD=${DATABASE_PASSWORD}
        depends_on:
            - db

    db:
        image: postgres:13-alpine
        volumes:
            - ./dev-db-data:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=${DATABASE_DB}
            - POSTGRES_USER=${DATABASE_USER}
            - POSTGRES_PASSWORD=${DATABASE_PASSWORD}

volumes:
    dev-db-data:
